<%# ホーム画面 %>
<section class="section">
  <article class="media">
    <div class="media-content">
      <div class="content has-text-centered">
        <p>
          <strong class="is-size-1" style="font-family: Times new Roman;">Cinema Review</strong>
        </p>
      </div>

      <div class="content has-text-centered">
        <p>
          <strong class="is-size-4" style="font-family: serif;">いい映画と出会おう。</strong>
        </p>
      </div>

      <div class="columns is-centered">
        <% if user_signed_in? %>
          <div class="column is-5">
            <br>        
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: {confirm: "ログアウトしますか？"}, class: "button is-warning is-fullwidth" %>
          </div>
        <% else %>
          <div class="column is-5">
            <br>
            <%= link_to "ログイン", new_user_session_path, class: "button is-warning is-fullwidth" %>
            <br>
            <%= link_to "新規登録", new_user_registration_path, class: "button is-warning is-fullwidth" %>
          </div>
        <% end %>
      </div>
    </div>
  </article>
  <br>
  <div class="columns is-centered">
    <div class="column">
      <figure>
        <div class="main-image"></div>
      </figure>
    </div>
  </div>
</section>